.hero {
    margin: 70px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background: #000000;
}

.hero-left {
    flex: 0.6;
}

.hero-greeting {
    font-size: 20px;
    color: #2563eb;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-name {
    font-size: 40px;
    color: #1d4cb3;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-description {
    max-width: 600px;
    font-size: 18px;
    color: #1150cd;
    line-height: 1.8;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn-1,
.btn-2 {
    padding: 14px 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-1 {
    background: #2563eb;
    color: white;
    border: 2px solid #2563eb;
}

.btn-1:hover {
    transform: translateY(-3px);
}

.btn-2 {
    background: #1d4ed8;
    color: white;
    border: 2px solid #2563eb;
}
.btn-2:hover {
    transform: translateY(-3px);
}
.hero-right {
    flex: 0.4;
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

