.review{
    width:100%;
    min-height:100vh;
    padding:100px 8%;
    background:#0b0b0f;
    scroll-margin-top:90px;
}

.review-header{
    text-align:center;
}

.review-header span{
    color:#2563eb;
    font-size:15px;
    font-weight:600;
    letter-spacing:2px;
}

.review-header h2{
    color:white;
    font-size:55px;
    margin-top:15px;
}

.review-grid{
    margin-top:70px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.review-card{
    background:#18181d;
    padding:40px;
    border-radius:20px;
    border:1px solid #2b2b2f;
    transition:.3s;
}

.review-card:hover{
    transform:translateY(-8px);
    border-color:#2563eb;
}

.review-card.active{
    border-color:#2563eb;
}

.review-card p{
    color:#cfcfcf;
    line-height:1.8;
    margin-bottom:30px;
}

.review-card h3{
    color:white;
    font-size:22px;
}

.review-card span{
    color:#2563eb;
}