.work {
    padding: 80px;
}

.work-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 50px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    background: #1b1b20;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #2f2f35;
}

.card img {
    width: 100%;
    height: 250px;      
    object-fit: cover;  
    display: block;
}

.large img {
    height: 550px;      
}

.content {
    padding: 25px;
}
 
.heading-row h2{
font-size: 50px;
}