.contact{
    width:100%;
    min-height:100vh;
    padding:100px 8%;
    background:#111111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;
    scroll-margin-top:90px;
}

.contact-left{
    flex:1;
}

.contact-left span{
    color:#2563eb;
    letter-spacing:2px;
    font-weight:600;
}

.contact-left h2{
    color:white;
    font-size:55px;
    margin:20px 0;
}

.contact-left p{
    color:#bdbdbd;
    line-height:1.8;
    font-size:17px;
    margin-bottom:20px;
}

.contact-info{
    margin-top:40px;
}

.contact-info p{
    margin-bottom:25px;
}

.contact-right{
    flex:1;
}

.contact-right form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-right input,
.contact-right textarea{
    padding:18px;
    background:#1d1d22;
    border:1px solid #2f2f35;
    border-radius:10px;
    color:white;
    font-size:16px;
    outline:none;
}

.contact-right input:focus,
.contact-right textarea:focus{
    border-color:#2563eb;
}

.contact-right textarea{
    resize:none;
}

.contact-right button{
    padding:16px;
    border:none;
    background:#2563eb;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.contact-right button:hover{
    background:#1d4ed8;
}